.answer {
    background-color: var(--test-answer-background);
    border: 1px solid var(--test-answer-border-color);
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer p {
    margin: 0;
}

#test-result {
    display: block;
    clear: both;
    margin-top: 20px;
    text-align: center;
}

.answer.selected {
    background-color: var(--test-answer-selected-background);
    color: var(--test-answer-selected-color);
}

#checkResults {
    background-color: var(--test-check-results-background);
    color: var(--test-check-results-color);
    padding: 10px 20px;
    border: 1px solid var(--test-check-results-border-color);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
    transition: background-color 0.3s;
}

.answer.correct {
    background-color: var(--test-answer-correct-background);
    color: var(--test-answer-correct-color);
}

#testList {
    width: 80vw;
    color: var(--quick-question-random-question-color);
}