
.testList{

}
.answer {
    background-color: #dee3ea;
    border: 1px solid #a1a5a9;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer p {
    margin: 0;
}

#quick-question-result {
    display: block;
    clear: both;
    margin-top: 20px;
    text-align: center;
}
.answer.selected {
    background-color: #87CEEB;
    color: white;
}

#checkResults {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border: 1px solid #a1a5a9;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
    transition: background-color 0.3s;

}

.answer.correct {
    background-color: #32CD32;
    color: white;
}