#test-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

#header {
    background-color: #f8f9fa;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid #dee2e6;
}

.logo-container img {
    max-width: 100px;
    margin: 10%;
}

#test-content {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    width: 100%;
    flex-grow: 0;
}

#testButton {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border: 1px solid #a1a5a9;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
    transition: background-color 0.3s;
}



.footer {
    background-color: #f8f9fa;
    color: #ffffff;
    text-align: end;
    margin-top: auto;
    min-width: 100%;
    align-items: end;
    justify-content: flex-start;
    border-top: 2px solid #dee2e6;
    bottom: 0;
}

#corpo {
    margin-right: 1%;
    color: black;
}