#category-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

#header {
    background-color: var(--header-background);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid var(--border-color);
}

.logo-container img {
    max-width: 100px;
    margin-top: 10%;
    margin-left: 10%;
}

#category-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 100vw;
    background-color: var(--content-background);
}

.nav-container {
    display: flex;
    justify-content: center;
    flex-grow: 2;
    margin-right: 7%;
    color: var(--corpo-text-color)
}

.nav-item {
    padding: 1% 1%;
    line-height: 1.5;
}

.nav-item:not(:first-child) {
    border-left: 1px solid var(--border-color);
    padding-left: 10px;
    margin-top: 0.2%;
    margin-bottom: 0.2%;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10% 20%;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-background);
    border-radius: 5px;
    border: 1px solid var(--button-border-color);
    padding: 30% 30%;
    cursor: pointer;
    margin-top: 20%;
    width: 60%;
}

.category h1 {
    margin: 0;
}

.footer {
    background-color: var(--footer-background);
    text-align: end;
    margin-top: auto;
    min-width: 100%;
    align-items: end;
    justify-content: flex-start;
    border-top: 2px solid var(--footer-border-color);
    bottom: 0;
}

#corpo {
    margin-right: 1%;
    color: var(--corpo-text-color);
}